In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
d=pd.read_csv('dataset w7.csv')

In [3]:
d

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# descriptive analytics

In [4]:
d.describe(include='all')

        Gender Test preparation  Total Marks
count       28               28    28.000000
unique       2                2          NaN
top     female             none          NaN
freq        16               21          NaN
mean       NaN              NaN    32.321429
std        NaN              NaN    12.454520
min        NaN              NaN    12.000000
25%        NaN              NaN    22.500000
50%        NaN              NaN    33.000000
75%        NaN              NaN    43.250000
max        NaN              NaN    50.000000

# Check whether female and male students scored the same marks

In [5]:
male=d.loc[d['Gender']=='male']
female=d.loc[d['Gender']=='female']

In [6]:
t,p=stats.ttest_ind(male['Total Marks'],female['Total Marks'])

In [7]:
print('p value is',p)

p value is 0.4937822317960763

In [8]:
if p<0.05:
    print('reject null hypothesis\n','that is female and male students scored the same marks')
else:
    print('fail to reject null hypothesis\n','that is female and male students scored the different marks')

fail to reject null hypothesis
 that is female and male students scored the different marks

# to Whether test preparation helps the students

In [22]:
none=d[d['Test preparation']=='none']
completed=d[d['Test preparation']=='completed']

In [29]:
t_val,p_val=stats.ttest_ind(none['Total Marks'],completed['Total Marks'])

In [36]:
print('p value is',p_val)

p value is 0.0012671292457320106

In [38]:
if p_val<0.05:
    print('Reject null hypothesis\n',' test preparation helps the students')
else:
    print('Fail to reject null hypothesis\n',' test preparation not helps the students')

Reject null hypothesis
  test preparation helps the students